@import '@/../../../globals.css';

.action-icon-button {
  background-color: var(--button-background-colour);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  color: var(--button-colour);
  height: 36px;
  width: 38px;
}

.action-icon-button:hover {
  background-color: var(--button-background-colour);
  color: var(--button-colour);
}
